<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>PSB - SMA Bintang Timur 1 Balige</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/open-iconic-bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body>
	  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center">
	    	<a class="navbar-brand" href="/index">SMA BTB</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	         <ul class="navbar-nav ml-auto">
	        	<li class="nav-item active"><a href="/index" class="nav-link pl-0">Home</a></li>
	        	<li class="nav-item active"><a href="/pendaftaran" class="nav-link pl-0">Pendaftaran</a></li>
	        	<li class="nav-item active"><a href="/pembayaran" class="nav-link pl-0">Pembayaran</a></li>
				
				<li class="nav-item active"><a href="/seleksi" class="nav-link pl-0">Seleksi</a></li>
				<li class="nav-item"><a href="/pengumuman" class="nav-link">Pengumuman</a></li>
	        	<li class="nav-item active" sec:authorize="isAuthenticated()"><a class="nav-link pl-0" th:href="@{/logout}" >Logout  (<span th:utext="${#request.userPrincipal.name}"></span>)</a></li>
			</ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
<div class="container">

<br>
<br>
   <h2><b>Pengumuman</b></h2>
   <br>

 <div>
	  	<a class="btn btn-primary" href="/pengumuman/create">Add New</a>
	  </div>
<br>
 
  
  <div th:if="${not #lists.isEmpty(pengumuman)}">

<table class="table table-striped">
		<tr>
			<th>Judul</th>
			<th>Dibuat Oleh</th>
			<th>Tanggal</th>
			<th>Isi</th>
			<th>Action</th>
		</tr>
		<tr th:each="pengumumans : ${pengumuman}">
			<td th:text="${pengumumans.judul}"></td>
			<td th:text="${pengumumans.dibuat_oleh}"></td>
			<td th:text="${pengumumans.tanggal}"></td>
			<td th:text="${pengumumans.isi}"></td>
			<td>
				<a th:href="${'/pengumuman/edit/'+pengumumans.id}"><span class="glyphicon glyphicon-edit"></span></a>
				<a th:href="${'/pengumuman/hapus/'+pengumumans.id}"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
			
		</tr>
		</table>
</div>

<br>
<br>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-bold text-white">Pengumuman</h1>
      <p class="lead my-3">Untuk membuat kunjungan anda tidak sia-sia pada sistem kami, silahkan membaca pengumuman- pengumuman tentang kami :).</p>
      
    </div>
  </div>
  
  

  <div class="row mb-2">
  <tr th:each="pengumumans : ${pengumuman}">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        
          <strong class="d-inline-block mb-2 text-primary"><td th:text="${pengumumans.judul}"></td></strong>
         
           <h10 class="mb-0"><td th:text="${pengumumans.dibuat_oleh}"></td></h10>
          <div class="mb-1 text-muted"><td th:text="${pengumumans.tanggal}"></td></div>
          <p class="card-text mb-auto"><td th:text="${pengumumans.isi}"></td></p>
          
         
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    
    
    
			
			
			
			
			
			
		</tr>
    
 
  </div>
</div>




</div><!-- /.container -->

	
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">

        <div class="row">
          <div class="col-md-12 text-center">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | PSB - SMA Bintang Timur 1 Balige <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Proyek Sistem informasi PSI-02</a>
			  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  <!-- loader -->

  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/jquery.stellar.min.js}"></script>
  <script th:src="@{/js/aos.js}"></script>
  <script th:src="@{/js/main.js}"></script>
    
  </body>
</html>